/**********************/
/* style for mobile */
/**********************/


@media screen and (max-width:600px){

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 .buscador img{
  width: 200px;

}


.buscador{
  /* margin: 20px 0px 20px 70px; */
  text-align: center;
  margin-top: 30px;
}

.buscador input{
 /*  margin-left: 200px; */
  width: 300px;
  height: 30px;
  border: solid 1px black;
  font-size: 20px;
  justify-content: center;
}



.buscador button{
   margin-top: 20px;
  width: 50px;
  height: 25px;
  justify-content: center;
}



#tarjeta{
  margin: 0px 30px ;
  width: 300px;





}

#tarjeta .box{
 margin-bottom: 20px;
 background-color: red;
 padding-bottom: 20px;
}

.col1{
 /*  width:30% !important; */
 margin: 10px;
 }

.col1 img{
  width: 200px;
}

#mensaje{
  justify-content: center;
}

.ocultar{
  display: none;
}
.mostrar{
display:block;
}
#lista-pk{
  width: 200px;
  border: solid 1px black;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.705);

}
#lista-pk li{
  cursor: pointer;
}


}

/**********************/
/* style for desktop */
/**********************/

@media screen and (min-width:605px){

  .buscador {
    justify-content: center;
    text-align: center;

  }

  #lista-pk{
    width: 200px;
    border: solid 1px black;
    justify-content: center;
    background-color: rgba(228, 225, 225, 0.699);
    margin-left: 560px;
  }
  #lista-pk li{
    cursor: pointer;
  }

  .ocultar{
    display: none;
  }
.mostrar{
  display:block;
}


  button{
    width: 45px;
    margin: 0px 10px;
  }

.boton{
    border: 1px solid white;
    cursor: pointer;
 }

.efecto{
  display: inline-block;
  transform: perspective(1px) translateZ(0);
 }

 .efecto:hover,
 .efecto:focus,
 .efecto:active{
  animation-name: efectoBoton;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
 }

 @keyframes efectoBoton{
  17%{transform: translateY(8px);}
  34%{transform: translateY(-6px);}
  50%{transform: translateY(4px);}
  67%{transform: translateY(-2px);}
  84%{transform: translateY(1px);}
  100%{transform: translateY(0);}

 }

  #tarjeta{
    margin: 20px 10px;
    /* width: 90%; */
    display:flex;
    grid-gap:30px;
    padding: 50px;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));

    }

  .listo-tarjeta{
    background-color: #ffcf00e6;
    border: solid 5px #0e16e3
  }



.pokemon-grid{
  display:grid;
  grid-gap:16px;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));

  }

  .pokemon-grid-prin{
    display:grid;
    grid-gap:16px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));

    }

  .box{
    width:100%;
    height: 200px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
    display: grid;
    text-align: center;
    background-color: blue;
    padding-bottom: 20px;
    color: white;
  }


   img{
    /* max-width: 100px; */
    display: block;
    margin: 0 auto;
  }
 .col1{
  width:30% !important;
 }


}


